.ryuutama.application.sheet.actor.traveler {
  --c-text-light: rgb(245, 245, 220);
  --c-text-dark: rgb(40, 0, 0);
  background:
    linear-gradient(
      65deg,
      hsl(from var(--c-primary) h s l / 1) 0%,
      hsl(from var(--c-primary) h s l / .3) 15%,
      hsl(from var(--c-primary) h s l / .3) 50%,
      hsl(from var(--c-primary) h s l / 1) 100%
    ),
    var(--c-background);

  /* -------------------------------------------------- */
  /*   TEXT COLORS                                      */
  /* -------------------------------------------------- */

  --color-text-primary: var(--c-text);
  --color-text-secondary: var(--c-text);
  --color-text-emphatic: var(--c-text);
  button {
    --button-text-color: var(--c-text);
    --button-hover-background-color: var(--c-accent);

    &:hover {
      --button-hover-text-color: var(--c-text-dark);
    }
  }

  /* TODO: move to other apps. */
  * { scrollbar-color: var(--c-accent) var(--color-scrollbar-track) }

  /* -------------------------------------------------- */
  /*   FILTERS                                          */
  /* -------------------------------------------------- */

  .filters {
    --c-active: greenyellow;
    --c-inactive: red;
    margin-left: 0;
    margin-bottom: 0;

    input[type=search] {
      margin: 2px;
      border-color: var(--c-primary);
      background: transparent;
    }

    search {
      display: grid;
      grid-template-columns: 1fr 0fr;
      gap: 1rem;
      position: relative;
      align-items: center;
      margin-right: 1rem;

      .controls {
        display: flex;
        flex: 1;
        gap: 1rem;
      }
    }

    [data-action=cycleCategorizationMode],
    [data-action=cycleSortMode],
    [data-action=toggleFilterList] {
      color: var(--c-accent);
      display: grid;
      text-shadow: none;

      &::before {
        transform: scale(1.5);
      }
    }

    [data-action=toggleFilterList]:has(+ .menu-options > [data-option].active) {
      color: var(--c-active);
    }
    [data-action=toggleFilterList]:has(+ .menu-options > [data-option].inactive) {
      color: var(--c-inactive);
    }

    menu.menu-options {
      display: none;
      position: absolute;
      background:
        linear-gradient(
          270deg,
          hsl(from var(--c-primary) h s l / 1) 0%,
          hsl(from var(--c-primary) h s l / .85) 15%,
          hsl(from var(--c-primary) h s l / .55) 95%
        ),
        linear-gradient(
          90deg,
          var(--c-background) 0%,
          transparent 75%
        );
      border: 1px solid var(--c-accent);
      border-radius: .35rem;
      border-top-right-radius: 0;
      padding: .5rem;
      padding-right: 1.5rem;
      inset: 100% 1rem auto auto;
      gap: .5rem;
      filter: drop-shadow(-.25rem .25rem .25rem var(--ryuutama-color-shadow-black));
      z-index: 1;

      .filters:has([data-action=toggleFilterList].expanded) & {
        display: grid;
      }

      [data-option] {
        display: grid;
        grid-template-columns: 1.25em 1fr;
        gap: .5rem;

        &.inactive .label {
          opacity: 0.5;
        }

        &::before {
          font-family: var(--font-awesome);
          text-align: center;
          content: "\f068";
          color: hsl(from var(--c-accent) h s l / .25);
        }
        &.inactive::before {
          content: "\f00d";
          color: var(--c-inactive);
        }
        &.active::before {
          content: "\f00c";
          color: var(--c-active);
        }
      }
    }
  }

  /* -------------------------------------------------- */
  /*   INPUTS                                           */
  /* -------------------------------------------------- */

  input[type=search],
  input[type=text] {
    box-shadow: none;

    &:focus {
      --input-focus-outline-color: var(--c-accent);
    }
  }

  /* -------------------------------------------------- */
  /*   THEMING                                          */
  /* -------------------------------------------------- */

  body.theme-dark &,
  &.themed.theme-dark {
    /* Primary */
    --c-primary: #411935;

    /* Complementary color */
    --c-secondary: var(--ryuutama-color-book-altcover-green);

    /* Accent */
    --c-accent: var(--ryuutama-color-book-altcover-gold);

    --c-background: var(--ryuutama-color-shadow-black);
    --c-shadow: var(--c-background);
    --c-text: rgb(245 245 220);

    --c-document-list-even: hsl(35deg 27% 33%);
    --c-document-list-odd: hsl(40deg 18% 54%);

    /* The distance of drop-shadow filtering. */
    --shadow-spread: .5rem;

    /* The color of equipment empty slot icons. */
    --equipment-empty-slot-fill: white;
  }

  body.theme-light &,
  &.themed.theme-light {
    --c-primary: var(--ryuutama-color-book-cover-blue);
    --c-secondary: #B7645A;
    --c-accent: var(--ryuutama-color-book-cover-gold);
    --c-background: var(--ryuutama-color-shadow-white);
    --c-shadow: var(--c-background);
    --c-text: rgb(40 0 0);

    --c-document-list-even: hsl(32deg 100% 74%);
    --c-document-list-odd: hsl(51deg 98% 78%);

    /* The distance of drop-shadow filtering. */
    --shadow-spread: .1rem;

    /* The color of equipment empty slot icons. */
    --equipment-empty-slot-fill: black;
  }
}
