.ryuutama.sheet.actor.traveler {
  --sidebar-width: 260px;
  --equipment-width: 60px;
  --content-width: 400px;
  --min-width: calc(var(--sidebar-width) + var(--equipment-width) + var(--content-width) + 2.25rem);
  --min-height: 550px;

  /* Positioning */
  &:not(.minimizing, .maximizing, .minimized) {
    min-width: var(--min-width);
    min-height: var(--min-height);
  }
  &:is(.minimized, .minimizing, .maximizing) {
    .window-header { width: 100% }
    .window-content { display: none }
    .header-control:not([data-action=close]) { display: none }
  }
  &.minimized {
    .window-header .window-icon,
    .window-header .window-title {
      display: block;
      color: var(--c-text);
    }
  }
  .window-header {
    border: none;
    justify-content: end;
    width: calc(100% - var(--sidebar-width));
    z-index: 2;
    place-self: end;
    background: transparent;

    .window-icon,
    .window-title {
      display: none;
    }
  }

  .window-content {
    display: grid;
    grid:
      "header navigation" 0fr
      "header content" 1fr
      / calc(var(--sidebar-width) + var(--equipment-width)) 2fr;
    z-index: 1;
    margin-top: calc(var(--header-height) * -1);
  }

  [data-application-part] {
    grid-area: content;
    padding-left: .5rem;
  }

  .constrained-width {
    max-width: calc(var(--content-width) - 1rem);
  }

  [data-application-part=sidebar] {
    grid-area: header;
    display: grid;
    grid-template-columns: var(--sidebar-width) var(--equipment-width);
    padding: 0;

    .sidebar {
      border-radius: .2rem;
      background-color: hsl(from var(--c-secondary) h s l / .5);
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;
      width: var(--sidebar-width);
      height: fit-content;
      box-shadow: .12rem .12rem .75rem var(--ryuutama-color-shadow-black);
      z-index: 1;

      .name-plaque {
        margin: 0 .35rem;
      }

      .avatar {
        .img {
          max-height: 30rem;
          object-position: center;
        }
      }

      .actions {
        display: flex;

        button {
          background: inherit;
          border-color: transparent;
          outline: none;
          box-shadow: none;
          flex: 1;
          transition-duration: 300ms;

          &:hover {
            color: var(--ryuutama-color-white);
          }
        }
      }

      .defenses {
        display: grid;
        grid-template-columns: 1fr 3rem 1fr;
        place-items: center;
        gap: .1rem;

        .defense-points,
        .defense-value {
          padding: 0;
          width: 100%;
          display: grid;
          text-align: center;

          .label {
            font-size: 10px;
            text-wrap: nowrap;
          }
        }

        .defense-icon {
          fill: var(--c-accent);
          width: 100%;
          font-size: 2rem;
          color: var(--c-accent);
          display: grid;
          place-content: center;
          aspect-ratio: 1;

          .fa-solid {
            display: grid;
            place-self: center;
          }

          [data-action]:hover {
            text-shadow: 0 0 .5rem var(--c-accent);
          }
        }
      }

      .resources {
        display: grid;
        gap: .5rem;

        .resource {
          position: relative;

          [data-config] {
            position: absolute;
            place-self: center;
            inset: 0;
            padding: 0 .5rem;
          }
        }
      }

      .fumbles {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;

        > * {
          height: 30px;
          width: 30px;
          text-align: center;
          place-content: center;
        }

        ryuutama-icon {
          --ryuutama-color-check-fumble: transparent;
          position: absolute;
          inset: 0;
        }

        input {
          background: inherit;
          width: 2rem;
          min-width: min(6rem, var(--fdigits));
          margin: 0;
          padding: 0;
          border-color: transparent;
        }
      }
    }

    .equipped {
      display: grid;
      gap: .25rem;
      margin-right: 1rem;
      margin-top: calc(var(--header-height) / 2);
      height: fit-content;

      .item {
        border: 1px solid var(--c-accent);
        border-left: none;
        border-radius: 0 .5rem .5rem 0;
        aspect-ratio: 1;
        overflow: hidden;
      }

      .empty {
        ryuutama-icon {
          fill: transparent;
          opacity: 0.15;
          scale: 0.7;
        }
      }
    }

    .experience {
      display: grid;
      grid-template-columns: 2rem 1fr;

      .exp-level {
        mask: url("/systems/ryuutama/assets/icons/hexagon.svg") no-repeat;
        background: var(--c-accent);
        height: 2rem;
        width: 2rem;
        place-content: center;
        text-align: center;
      }

      progress-bar.exp {
        --color: var(--c-secondary);
        border-color: var(--c-accent);
      }
    }

    .abilities {
      --ryuutama-color-stats: transparent;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: .5rem;

      .ability {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        position: relative;
        aspect-ratio: 1;
        place-content: center;
        gap: .5rem;
        font-family: var(--ryuutama-font-gothic);

        .back {
          position: absolute;
          inset: 0;
          opacity: .15;
        }

        .value {
          margin: 0;
          padding: 0;
          min-width: 3ch;
          text-align: center;
        }
      }
    }

    .avatar {
      img {
        object-fit: cover;
        width: 100%;
        cursor: var(--cursor-pointer);
      }
    }
  }

  [data-application-part=navigation] {
    grid-area: navigation;
    margin-top: var(--header-height);
    margin-bottom: .5rem;

    .classes {
      display: flex;
      gap: .5rem;
      margin-bottom: .5rem;

      .banner-label {
        flex: 1;
      }
    }
  }

  [data-application-part=attributes] {
    .contents,
    .skills {
      display: grid;
      gap: .5rem;
    }

    .image-tags {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;

      .image-tag {
        border: 2px solid var(--c-accent);
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0 0 .5rem var(--c-shadow);
        flex: 0 0 2.5rem;

        ryuutama-icon, img {
          height: 100%;
        }
      }
    }
  }

  [data-application-part=spells] {
    overflow: hidden;

    .contents {
      display: grid;
      grid-template-rows: 0fr 1fr;
      height: 100%;
      gap: .5rem;
    }

    [data-search-container] {
      overflow: hidden auto;
      scrollbar-gutter: stable;
      display: grid;
      gap: .5rem;
      align-content: start;
    }
  }

  [data-application-part=inventory] {
    overflow: hidden;
    container-type: inline-size;

    .contents {
      display: grid;
      grid-template-rows: 0fr 0fr 1fr;
      height: 100%;
      gap: .5rem;

      .capacity,
      .gold {
        --ryuutama-color-icon-capacity: var(--c-primary);
        --ryuutama-color-icon-gold: transparent;
      }

      .banner-label.capacity {
        margin-bottom: .5rem;
      }

      .gold {
        display: flex;
        gap: .25rem;
        justify-content: flex-start;
        align-items: center;

        ryuutama-icon {
          height: var(--input-height);
          border-radius: .5rem;
        }

        input {
          width: 4rem;
          text-align: center;
          background-color: inherit;
          border-color: var(--c-primary);
        }
      }
    }

    [data-search-container] {
      overflow: hidden auto;
      scrollbar-gutter: stable;
      display: grid;
      gap: .5rem;
      align-content: start;
    }
  }

  [data-application-part=effects] {
    .contents {
      display: grid;
      gap: .5rem;
    }

    .condition {
      max-width: calc(.5 * var(--content-width));

      .value:hover {
        ryuutama-icon { opacity: 0 };
        .hover { opacity: 1 }
      }

      [data-action=configure]:not(:hover) {
        background: var(--c-secondary);
      }

      .value {
        filter: drop-shadow(2px 2px 1px var(--ryuutama-color-shadow-black));
        position: relative;

        > * {
          transition: opacity 200ms ease-in-out;
        }

        .hover {
          inset: 0;
          position: absolute;
          font-size: 1.5rem;
          place-content: center;
          opacity: 0;
        }
      }

      .label {
        position: relative;

        ryuutama-icon {
          --ryuutama-color-stats: transparent;
          position: absolute;
          inset: 0 .5rem 0 auto;
        }
      }
    }

    .statuses {
      margin: 0 .5rem;
      max-width: calc(var(--content-width) * 2);
    }
  }

  [data-application-part=notes] {
    .contents {
      display: grid;
      grid-template-rows: 1fr;
      height: 100%;
      gap: .5rem;
    }

    .classes {
      display: flex;
      gap: .5rem;

      .banner-label { flex: 1 }
    }

    .image-color {
      text-align: center;
      width: 100%;
      height: 75%;
      place-self: center;
      place-content: center;
      background: var(--bg-color);
      border-radius: 3px;
    }

    .editable-contents {
      height: 100%;
      display: grid;
      grid-template-rows: 0fr 1fr;
      gap: .5rem;

      prose-mirror {
        height: 100%;
        margin-left: .5rem;
      }
    }

    .editable-contents,
    .enriched-contents {
      display: grid;
      align-content: start;
      gap: .5rem;
    }

    .sheet-tabs {
      [data-tab] {
        border-bottom: none;
        padding: .5rem;
      }
    }
  }

  .label-progress {
    display: grid;
    grid-template-columns: 0fr 1fr;
    text-wrap: nowrap;
    gap: .5rem;
    align-items: center;
  }

  .document-listing,
  .banner-label,
  .sheet-tabs,
  .statuses,
  .shaded-header,
  .equipped,
  .image-color,
  .resources .resource,
  .fumbles ryuutama-icon,
  .defense-icon {
    filter: drop-shadow(0 0 .1rem var(--ryuutama-color-shadow-black));

    .theme-dark & {
      filter: drop-shadow(0 0 .5rem var(--ryuutama-color-shadow-black));
    }
  }

  .controls-dropdown,
  .window-resize-handle {
    z-index: 2;
  }
}
