<section class="tooltip item">
  <h4 class="name">{{item.name}}</h4>
  <section class="content">{{{enriched}}}</section>

  {{#if item.system.modifierLabels.length}}
  <section class="modifiers tags">
    {{#each item.system.modifierLabels}}
    <div class="tag">{{this}}</div>
    {{/each}}
  </section>
  {{/if}}

  {{#if item.system.terrain.label}}
  <section class="modifier tags">
    <div class="tag">{{item.system.terrain.label}}</div>
  </section>
  {{/if}}
</section>
