<section data-tab="{{tabs.skills.id}}" class="{{tabs.skills.cssClass}}" data-group="{{tabs.skills.group}}">
  {{inventory-element documents=skills action="renderItem" inline=false label=(localize "TYPES.Item.skillPl")}}
</section>
