<section>
  {{formGroup systemFields.attack.fields.accuracy value=accuracyValue disabled=disabled placeholder=accuracyPlaceholder}}
  {{formGroup systemFields.attack.fields.damage value=damageValue disabled=disabled placeholder=damagePlaceholder}}
</section>
