#current-habitat {
  --icon-size: 3.5rem;
  --topography-size: 16rem;
  pointer-events: all;
  width: calc(var(--icon-size) * 2 + var(--topography-size));

  .calendar {
    display: grid;
    grid-template-columns: var(--icon-size) 1fr var(--icon-size);
    margin: .25rem 0;
    anchor-name: --current-habitat-controls-left, --current-habitat-controls-right;

    .topography {
      display: grid;
      font-size: 12px;
      text-align: center;
      align-items: center;
      margin: 0 2rem;

      .target-number {
        font-size: 16px;
      }
    }

    .terrain,
    .weather {
      padding: .25rem;

      ryuutama-icon,
      img {
        border-radius: .5rem;
        overflow: hidden;
      }
    }
  }

  .menus {
    padding: 5px;

    &:not(:has(.open)) {
      display: none;
    }

    menu.terrain,
    menu.weather {
      width: 100%;
      display: none;
      gap: 5px;
      grid-template-columns: repeat(var(--repeat), 1fr);

      &.open {
        display: grid;
      }

      li img,
      li ryuutama-icon {
        border-radius: 10px;
        overflow: hidden;
      }

      &.terrain { --repeat: 3 }
      &.weather { --repeat: 4 }
    }
  }

  .calendar,
  .menus:has(.open),
  .controls {
    background: var(--background-color);
    border-radius: 7px;
  }

  /* THEMING */
  .themed.theme-light & {
    --background-color: rgb(255 255 255 / 0.6);
    --color-border: white;
    color: black;
  }

  .themed.theme-dark & {
    --background-color: var(--color-cool-5);
    --color-border: black;
  }

  /* Ouside controls */
  .controls {
    display: flex;
    align-items: center;
    position: fixed;
    align-self: anchor-center;

    &:empty { display: none }

    a[data-action] {
      padding: .5rem;
    }
  }

  @supports not (position-anchor: --var) {
    .controls {
      display: none;
    }
  }

  .controls-left {
    position-anchor: --current-habitat-controls-left;
    right: calc(.25rem + anchor(left));
  }

  .controls-right {
    position-anchor: --current-habitat-controls-right;
    left: calc(.25rem + anchor(right));
  }
}
