#current-habitat {
  pointer-events: all;
  width: 20rem;

  .calendar {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    margin: .25rem 0;

    .topography {
      display: grid;
      font-size: 14px;
      text-align: center;
      align-items: center;

      .target-number {
        font-size: 75%;
      }
    }

    .terrain, .weather {
      padding: .25rem;

      ryuutama-icon {
        display: grid;
      }
    }
  }

  .menus {
    padding: 5px;

    &:not(:has(.open)) {
      display: none;
    }

    menu.terrain, menu.weather {
      width: 100%;
      display: none;
      gap: 5px;

      &.open {
        display: grid;
      }

      &.terrain {
        grid-template-columns: repeat(3, 1fr);

        li img {
          border-radius: 10px;
        }
      }

      &.weather {
        grid-template-columns: repeat(4, 1fr);

        li {
          aspect-ratio: 1;
          height: 100%;
        }
      }
    }
  }

  .calendar, .menus:has(.open) {
    background: var(--background-color);
    border-radius: 7px;
  }

  /* THEMING */
  .themed.theme-light & {
    --background-color: rgba(255, 255, 255, 0.6);
    --color-border: white;
    color: black;
  }

  .themed.theme-dark & {
    --background-color: var(--color-cool-5);
    --color-border: black;
  }
}
