#tooltip .ryuutama.loading {}

#tooltip.ryuutama,
.ryuutama.locked-tooltip {
  min-width: 400px;
  color: var(--c-text);

  /* TODO: This is copied from the actor sheets. Should eventually move into global `.ryuutama` class. */
  background:
    linear-gradient(
      65deg,
      hsl(from var(--c-primary) h s l / 1) 0%,
      hsl(from var(--c-primary) h s l / .3) 15%,
      hsl(from var(--c-primary) h s l / .3) 50%,
      hsl(from var(--c-primary) h s l / 1) 100%
    ),
    var(--c-background);
  /* Text Colors */
  --color-text-primary: var(--c-text);
  --color-text-secondary: var(--c-text);
  --color-text-emphatic: var(--c-text);
  .theme-dark &, &.themed.theme-dark {
    --c-primary: #411935;
    --c-background: var(--ryuutama-color-shadow-black);
    --c-text: rgb(245, 245, 220);
  }
  .theme-light &, &.themed.theme-light {
    --c-primary: var(--ryuutama-color-book-cover-blue);
    --c-background: var(--ryuutama-color-shadow-white);
    --c-text: rgb(40, 0, 0);
  }
  /* End of copy-paste */

  &:not(.locked-tooltip) {
    box-shadow: 0 0 2px var(--ryuutama-enriched-tooltip-border);
  }

  .tooltip {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0;
  }

  .tooltip.item {
    text-align: initial;
  }

  .tooltip.effect {
    text-align: initial;
  }

  .tooltip-name {
    margin: 0;
  }

  section.tooltip-tags {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    font-family: var(--ryuutama-font-gothic);

    .tooltip-tag {
      border: 1px solid var(--ryuutama-enriched-tooltip-border);
      border-radius: .25rem;
      padding: .1rem .3rem;
      text-wrap: nowrap;
    }
  }
}
