#tooltip .ryuutama.loading {}

#tooltip.ryuutama,
.ryuutama.locked-tooltip {
  min-width: 400px;
  color: var(--c-text);

  &:not(.locked-tooltip) {
    box-shadow: 0 0 2px var(--ryuutama-enriched-tooltip-border);
  }

  .tooltip {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0;
  }

  .tooltip.item,
  .tooltip.effect {
    text-align: initial;
  }

  .tooltip-name {
    margin: 0;
  }

  section.tooltip-tags {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    font-family: var(--ryuutama-font-gothic);

    .tooltip-tag {
      border: 1px solid var(--ryuutama-enriched-tooltip-border);
      border-radius: .25rem;
      padding: .1rem .3rem;
      text-wrap: nowrap;
    }
  }
}
