.ryuutama.requestor {
  [data-actor-uuid] {
    .result {
      display: grid;
      grid-template-columns: 50px 1fr 50px 0fr;
      align-items: center;
      gap: 5px;

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .value {
        text-align: center;
      }
    }

    .progress-bar {
      margin-top: 5px;
      position: relative;
      height: 16px;
      border-radius: 5px;
      overflow: hidden;

      .progress-bar-fill {
        position: absolute;
        inset: 0;
        background-color: var(--ryuutama-color-steelblue);
      }
    }
  }
}
