<section>
  {{formGroup systemFields.condition.fields.value value=source.system.condition.value placeholder="0"}}
  {{formGroup systemFields.condition.fields.immunities value=source.system.condition.immunities type="checkboxes" classes="stacked" labelAttr="name"}}
</section>
