<section>
  <fieldset>
    <legend>{{localize "RYUUTAMA.DEFENSE.defenses"}}</legend>

    {{formGroup systemFields.armor.fields.defense value=(ifThen disabled document.system.armor.defense source.system.armor.defense) disabled=disabled placeholder="-"}}
    {{formGroup systemFields.armor.fields.penalty value=(ifThen disabled document.system.armor.penalty source.system.armor.penalty) disabled=disabled placeholder="-"}}

    {{#if systemFields.armor.fields.dodge}}
    {{formGroup systemFields.armor.fields.dodge value=(ifThen disabled document.system.armor.dodge source.system.armor.dodge) disabled=disabled}}
    {{/if}}

  </fieldset>
</section>
