<section>
  <fieldset>
    <legend>{{localize "RYUUTAMA.HABITAT.checkBonuses"}} (+{{document.system.gear.check}})</legend>

    {{formGroup systemFields.gear.fields.custom value=(ifThen disabled document.system.gear.custom source.system.gear.custom) disabled=disabled placeholder="-"}}

  </fieldset>
</section>
