{{#if part.flavor}}
<span class="flavor">{{part.flavor}}</span>
{{/if}}

<section class="damage-rolls">
  {{#each ctx.rolls}}{{{this}}}{{/each}}
</section>

{{#if (and canUpdate (not ctx.rolls.length))}}
<section>
  <button type="button" data-action="rollDamage">
    <i class="fa-solid fa-burst" inert></i>
    <span>{{localize "RYUUTAMA.CHAT.DAMAGE.rollDamage"}}</span>
  </button>
</section>
{{/if}}

<section>
  {{#if (and user.isGM ctx.rolls.length)}}
  <damage-tray></damage-tray>
  <button type="button" data-action="applyDamage">
    <i class="fa-solid fa-burst" inert></i>
    <span>{{localize "RYUUTAMA.CHAT.DAMAGE.applyDamage"}}</span>
  </button>
  {{/if}}
</section>
