{{#if part.flavor}}
<span class="flavor">{{part.flavor}}</span>
{{/if}}

<section class="healing-rolls">
  {{#each ctx.rolls}}{{{this}}}{{/each}}
</section>

<section>
  {{#if user.isGM}}
  <healing-tray></healing-tray>
  <button type="button" data-action="applyHealing">
    <i class="fa-solid fa-heart-pulse" inert></i>
    <span>{{localize "RYUUTAMA.CHAT.HEALING.applyHealing"}}</span>
  </button>
  {{/if}}
</section>
