<section data-tab="{{tabs.navigation.id}}" class="{{tabs.navigation.cssClass}}" data-group="{{tabs.navigation.group}}">
  {{!-- NAVIGATION --}}
  <section class="accented-tabs main-tabs">
    {{> "templates/generic/tab-navigation.hbs" tabs=tabs}}
  </section>
</section>
