<section data-tab="{{tabs.skills.id}}" class="{{tabs.skills.cssClass}}" data-group="{{tabs.skills.group}}">
  {{#each skills}}
  {{> "document-list" label=label entries=entries}}
  {{/each}}
</section>
