<section data-tab="{{tabs.spells.id}}" class="{{tabs.spells.cssClass}}" data-group="{{tabs.spells.group}}">
  {{#each spells}}
  {{> "document-list" label=label entries=documents}}
  {{/each}}
</section>
