<form>
  <fieldset>
    <legend>{{localize "RYUUTAMA.ADVANCEMENT.DRAGON_FAVOR.label"}}</legend>
    {{formGroup fields.choice.fields.chosen value=advancement.choice.chosen rootId=rootId classes="slim"}}
  </fieldset>
</form>
