<form>
  <fieldset>
    <legend>{{title}}</legend>
    {{formGroup fields.choice.fields.chosen.fields.stamina rootId=rootId}}
    {{formGroup fields.choice.fields.chosen.fields.mental rootId=rootId}}
    <p class="hint">{{localize "RYUUTAMA.PSEUDO.ADVANCEMENT.RESOURCE.hint"}}</p>
  </fieldset>
</form>
