<form>
  <fieldset>
    <legend>{{localize "RYUUTAMA.ADVANCEMENT.STATUS_IMMUNITY.label"}}</legend>
    {{formGroup fields.choice.fields.chosen value=advancement.choice.chosen labelAttr="name" classes="slim" rootId=rootId}}
  </fieldset>
</form>
