<form>
  <fieldset>
    <legend>{{title}}</legend>
    {{formGroup fields.choice.fields.chosen options=abilityOptions value=advancement.choice.chosen classes="slim" rootId=rootId}}
    <p class="hint">{{localize "RYUUTAMA.PSEUDO.ADVANCEMENT.INCREASE.hint"}}</p>
  </fieldset>
</form>
