<form>
  <fieldset>
    <legend>{{localize "RYUUTAMA.ADVANCEMENT.STAT_INCREASE.label"}}</legend>
    {{formGroup fields.choice.fields.chosen options=abilityOptions value=advancement.choice.chosen classes="slim" rootId=rootId}}
  </fieldset>
</form>
