<form>
  <fieldset>
    <legend>{{title}}</legend>
    {{formGroup fields.choice.fields.chosen labelAttr="name" classes="slim" rootId=rootId}}

    <p class="hint">{{localize "RYUUTAMA.PSEUDO.ADVANCEMENT.STATUS.hint"}}</p>
  </fieldset>
</form>
