<form>
  <fieldset>
    <legend>{{localize "RYUUTAMA.ADVANCEMENT.TYPE.label"}}</legend>
    {{formGroup fields.choice.fields.chosen value=advancement.choice.chosen rootId=rootId classes="slim"}}
    {{#if showMagic}}
    {{formGroup fields.choice.fields.magic value=advancement.choice.magic rootId=rootId classes="slim"}}
    {{/if}}
  </fieldset>
</form>
