<form>
  <fieldset>
    <legend>{{title}}</legend>
    {{formGroup fields.choice.fields.chosen rootId=rootId classes="slim"}}

    <p class="hint">{{localize "RYUUTAMA.PSEUDO.ADVANCEMENT.WEAPON.hint"}}</p>
  </fieldset>
</form>
