.chat-message damage-tray,
.chat-message effect-tray,
.chat-message healing-tray,
.chat-message [data-message-part-type=request] .request-results {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin: 0.5rem 0;
  border: 1px inset gray;
  border-radius: 3px;

  [data-actor-uuid] {
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 0.5rem;

    img {
      aspect-ratio: 1;
      object-fit: contain;
    }
  }
}

.chat-message.message [data-message-part] {
  button[data-action] {
    width: 100%;
  }
}

/* Effects List */
.chat-message section.effect-list,
.chat-message.effect [data-message-part=effectList] {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin: 0.5rem 0;
  border: 1px inset gray;
  border-radius: 3px;

  [data-effect-uuid], [data-status-id] {
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    align-items: center;
    padding: 5px;
    gap: 0.5rem;

    img {
      width: 35px;
      aspect-ratio: 1;
      object-fit: contain;
    }
  }
}

.ryuutama.chat-message section[data-message-part]:not(:last-child) {
  margin-bottom: 1rem;
}
