.ryuutama.application.sheet.actor {
  .sheet-tabs [data-action=tab] {
    padding: 0;
    line-height: normal;
    flex: 1;
  }

  .header.play {
    grid: "avatar name" "avatar nav" / 7.5rem 1fr;
    display: grid;
    align-items: start;

    .avatar {
      grid-area: avatar;
      margin-right: .5rem;

      img {
        object-fit: contain;
        aspect-ratio: 1;
      }
    }

    .title {
      grid-area: name;
      margin: .5rem;

      .tags {
        margin: 6px 0;
      }
    }

    .sheet-tabs {
      grid-area: nav;
    }
  }
}

.ryuutama.application.sheet.actor {
  font-family: Amiri;
  container-type: inline-size;

  resource-bar {
    cursor: var(--cursor-pointer);
  }

  resource-bar, progress-bar {
    position: relative;
    height: calc(1.2rem + var(--border-width));
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
    font-family: Amiri;
    border: var(--border-width) solid hsl(from var(--color) h s l);
    --color: var(--ryuutama-color-resource-default);
    --border-width: 1px;

    &.stamina {
      --color: var(--ryuutama-color-resource-stamina);
      color: var(--ryuutama-color-white);
      &.negative {
        --color: var(--ryuutama-color-resource-stamina-negative);
      }
    }
    &.mental {
      --color: var(--ryuutama-color-resource-mental);
      color: var(--ryuutama-color-white);
    }
    &.capacity {
      --color: var(--ryuutama-color-capacity-bar);

      &.overflow {
        --color: var(--ryuutama-color-capacity-bar-overflow);
      }
    }
    &.exp {
      --color: var(--ryuutama-color-exp-bar);
      color: var(--ryuutama-color-white);
    }

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: calc(100% - var(--fill));
      background-color: var(--color);
    }

    .display {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      align-content: center;
    }

    input {
      width: 100%;
      max-height: 100%;
      text-align: center;
      z-index: 1;
      background: none;
    }
  }

  [data-tab] {
    padding-bottom: 0.55rem;
  }

  .icon-fields {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 3), 1fr);
    gap: 1rem;

    .icon-field {
      display: grid;
      grid-template-columns: 45px 1fr;
      gap: .5rem;

      [data-status] > ryuutama-icon:not(.active) {
        opacity: 0.5;
      }

      /* Enforce that 'Condition' is 45px high in edit mode despite the 'tip-top shape' select. */
      > :first-child {
        height: 45px;
      }

      .stacked {
        gap: 0;
        align-content: flex-start;
        --input-height: 1.2rem;

        .form-fields {
          flex-direction: column;
        }

        span.value {
          color: var(--ryuutama-color-disabled);
        }

        .value {
          border-radius: 3px;
          background-color: hsl(from var(--ryuutama-color-value-location) h s l / 0.05);
          width: 100%;
        }

        span, label, .value, input {
          text-align: center;
        }
      }

      .attack {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        button {
          height: unset;
          min-height: unset;
          flex: 1;
        }
      }
    }
  }

  .capacity {
    .tag {
      display: grid;
      width: 100%;
      text-align: center;
      margin: 2px 0 0 0;
      font-size: 12px;
      font-style: italic;
    }
  }

  .equipped {
    display: flex;
    flex-direction: row;
    gap: 2px;

    .section {
      display: flex;
      flex-direction: row;
      flex: var(--count);
      gap: inherit;
    }

    .item {
      flex: 1;
      text-align: center;
      max-width: 75px;

      span {
        overflow: hidden;
      }
    }

    .empty-slot {
      border: 1px solid var(--ryuutama-color-border);
      aspect-ratio: 1;
    }

    @container (width < 800px) {
      flex-direction: column;
    }
  }

  [data-tab=spells] {
    .pills {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      .spell-pill {
        display: grid;
        background-color: var(--ryuutama-color-spellbook-pill);
        border-radius: 5px;
        padding: 5px;
        border: 2px inset var(--ryuutama-color-spellbook-pill);

        label {
          width: 100%;
          text-align: center;
        }

        span {
          display: flex;
          gap: 5px;
          justify-content: center;
          align-items: center;
        }

        ryuutama-icon img, ryuutama-icon svg {
          height: 35px;
        }
      }
    }
  }
}

.ryuutama.application.sheet.actor.traveler {
  --sidebar-width: 260px;
  --content-width: 420px;
  --min-width: calc(var(--sidebar-width) + var(--content-width));

  &:not(.minimizing, .maximizing, .minimized) {
    min-width: var(--min-width);
    min-height: 500px;

    .window-header {
      background: transparent;

      button.header-control {
        --button-text-color: var(--ryuutama-color-header-button);
      }
    }
  }

  .window-header {
    border: none;
    justify-content: end;
    width: calc(100% - var(--sidebar-width));
    z-index: 2;
    place-self: end;

    .window-icon, .window-title {
      display: none;
    }
  }

  .controls-dropdown {
    z-index: 2;
  }

  .window-content {
    display: grid;
    grid:
      "header navigation" 0fr
      "header content" 1fr
      / var(--sidebar-width) 2fr;
    z-index: 1;
    margin-top: calc(var(--header-height) * -1);
    transition: margin-top 200ms ease;

    [data-application-part] {
      grid-area: content;
    }

    [data-application-part=header] {
      grid-area: header;
      border: 2px outset var(--ryuutama-color-filigree);
      border-radius: 10px;
      margin-right: 0;
      background-color: rgba(169, 169, 169, 0.1);
      padding: 0.5rem;
      padding-right: 0;
      gap: .5rem;

      .avatar {
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        border: 1px solid var(--ryuutama-color-filigree);
        min-height: fit-content;
        --inset: 4px;

        &::after {
          position: absolute;
          inset: var(--inset);
          content: "";
          border: 1px solid var(--ryuutama-color-filigree);
          pointer-events: none;
        }

        img {
          aspect-ratio: 1;
          object-fit: cover;
          object-position: center;
          cursor: var(--cursor-pointer);
        }

        .types {
          position: absolute;
          right: calc(var(--inset) + 4px);
          bottom: calc(var(--inset) + 4px);
          display: flex;
          height: 10%;
          z-index: 1;
          gap: 4px;

          .type {
            border: 1px solid var(--ryuutama-color-filigree);
            border-radius: 3px;
          }
        }
      }

      .title {
        margin: 0;
        text-align: center;
        font-weight: normal;
        font-family: Bruno Ace;
        font-size: 16px;
        min-height: fit-content;
        padding: .5rem .2rem;
      }

      .exp {
        display: grid;
        grid-template-columns: 0fr 1fr;
        gap: 5px;
        align-items: center;
        text-wrap: nowrap;
      }

      .abilities {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4px;

        .ability {
          border: 1px solid var(--ryuutama-color-filigree);
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 1fr;
          align-items: center;
          justify-items: center;
          text-align: center;
          font-size: 14px;
          border-radius: 15% / 50%;
          overflow: hidden;

          ryuutama-icon {
            aspect-ratio: 1;
            z-index: -1;
          }

          [data-action=configure] {
            width: 100%;
            aspect-ratio: 1;
            display: grid;
            align-items: center;
          }
        }
      }

      .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;

        .ryuutama-button {
          &:nth-child(odd) {
            border-end-end-radius: 0;
            border-start-end-radius: 0;
            border-right: none;
          }
          &:nth-child(even) {
            border-end-start-radius: 0;
            border-start-start-radius: 0;
            border-left: none;
          }
        }
      }

      .resources {
        display: grid;
        gap: .5rem;

        .resource {
          display: grid;
          grid-template-columns: 1fr 0fr;
          gap: 5px;
          align-items: center;
        }
      }

      .statuses {
        display: flex;
        gap: 0.2rem;
        padding: 0 .25rem;

        .status {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: .2rem;

          [data-action=toggleStatus] {
            border-radius: 20%; /* 20% is the radius in the svg */
            overflow: hidden;

            &:hover {
              --ryuutama-color-statuses-body: var(--ryuutama-color-filigree);
              --ryuutama-color-statuses-mind: var(--ryuutama-color-filigree);
            }

            ryuutama-icon {
              aspect-ratio: 1;
              z-index: -1;

              * {
                transition: all 500ms ease;
              }
            }
          }

          span.value {
            overflow: hidden;
            border: 1px outset var(--ryuutama-color-filigree);
            border-radius: 50% / 10%;
          }
        }
      }
    }

    [data-application-part=navigation] {
      grid-area: navigation;
      margin-top: var(--header-height);
    }
  }

  .window-resize-handle {
    z-index: 2;
  }

  &:is(.minimizing, .maximizing, .minimized) {
    .window-header { width: 100% }
    .window-header .window-icon, .window-header .window-title { display: block }
    .window-content { display: none }
  }

  &.compact-mode {
    --content-width: 0;

    &:not(.minimizing, .maximizing, .minimized) {
      width: auto !important;
      height: auto !important;
    }

    .window-header {
      width: 100%;
    }

    .window-content {
      margin-top: 0;
      padding-right: 0;

      [data-application-part]:not([data-application-part=header]) { display: none }
      [data-application-part=header] { margin: 0 }
    }

    .window-resize-handle {
      display: none;
    }
  }
}
