.ryuutama.application.sheet.actor {
  .sheet-tabs [data-action=tab] {
    padding: 0;
    line-height: normal;
    flex: 1;
  }

  .header.play {
    grid: "avatar name" "avatar nav" / 7.5rem 1fr;
    display: grid;
    align-items: start;

    .avatar {
      grid-area: avatar;
      margin-right: .5rem;

      img {
        object-fit: contain;
        aspect-ratio: 1;
      }
    }

    .title {
      grid-area: name;
      margin: .5rem;

      .tags {
        margin: 6px 0;
      }
    }

    .sheet-tabs {
      grid-area: nav;
    }
  }
}

.ryuutama.application.sheet.actor {
  font-family: Amiri;

  resource-bar {
    cursor: var(--cursor-pointer);
  }

  resource-bar, progress-bar {
    position: relative;
    height: calc(1.2rem + var(--border-width));
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
    font-family: Amiri;
    border: var(--border-width) solid hsl(from var(--color) h s l);
    --color: var(--ryuutama-color-resource-default);
    --border-width: 1px;

    &.stamina {
      --color: var(--ryuutama-color-resource-stamina);
      &.negative {
        --color: var(--ryuutama-color-resource-stamina-negative);
      }
    }
    &.mental {
      --color: var(--ryuutama-color-resource-mental);
    }
    &.capacity {
      --color: var(--ryuutama-color-capacity-bar);

      &.overflow {
        --color: var(--ryuutama-color-capacity-bar-overflow);
      }
    }
    &.exp {
      --color: var(--ryuutama-color-exp-bar);
    }

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: calc(100% - var(--fill));
      background-color: hsl(from var(--color) h s l / 0.5);
    }

    .display {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      align-content: center;
    }

    input {
      width: 100%;
      max-height: 100%;
      text-align: center;
      z-index: 1;
      background: none;
    }
  }

  [data-tab] {
    padding-bottom: 0.55rem;
  }

  .icon-fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    gap: 1rem;

    &.column-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    .icon-field {
      max-width: 250px;
      display: grid;
      grid-template-columns: 45px 1fr;
      gap: .5rem;

      > :first-child {
        height: 45px;
      }

      [data-status] > ryuutama-icon:not(.active) {
        opacity: 0.5;
      }

      .stacked {
        gap: 0;
        align-content: flex-start;
        --input-height: 1.2rem;

        .form-fields {
          flex-direction: column;
        }

        span.value {
          color: var(--ryuutama-color-disabled);
        }

        .value {
          border-radius: 3px;
          background-color: hsl(from var(--ryuutama-color-value-location) h s l / 0.05);
          width: 100%;
        }

        * {
          text-align: center;
        }
      }

      .attack {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        button {
          height: unset;
          min-height: unset;
          flex: 1;
        }
      }
    }
  }

  .capacity {
    .tag {
      display: grid;
      width: 100%;
      text-align: center;
      margin: 2px 0 0 0;
      font-size: 12px;
      font-style: italic;
    }
  }

  .equipped {
    display: flex;
    gap: 2px;

    .item {
      display: flex;
      flex: 1;
      text-align: center;
      flex-direction: column-reverse;
    }

    .empty-slot {
      border: 1px solid var(--ryuutama-color-border);
      aspect-ratio: 1;
    }
  }

  .tags .tag.glow {
    animation: tag-glow 2s infinite;
    box-shadow: 0 0 12px red;
  }

  [data-tab=spells] {
    .pills {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      .spell-pill {
        display: grid;
        background-color: rgba(201, 63, 12, 0.603);
        border-radius: 5px;
        padding: 5px;

        label {
          width: 100%;
          text-align: center;
        }

        span {
          display: flex;
          gap: 5px;
          justify-content: center;
          align-items: center;
        }

        ryuutama-icon img, ryuutama-icon svg {
          height: 35px;
        }
      }
    }
  }
}

@keyframes tag-glow {
  0% {
    box-shadow: 0 0 12px red;
  }
  100% {
    box-shadow: 0 0 1px red;
  }
}
