.ryuutama.application.sheet {
  .document-listing {
    --header-height: 2.3rem;
    --entry-height: 2.25rem;
    --c-width-attribute: 5rem;
    --c-width-controls: 5rem;

    h4,
    .document-list .entry {
      display: grid;
      grid-template-columns: 1fr var(--c-width-attribute) var(--c-width-controls);
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;

      [data-column=attribute] {
        text-align: center;
      }

      [data-column=controls] {
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }

    h4 {
      padding: 0 1rem;
      border-radius: 3px;
      font-weight: normal;
      height: var(--header-height);
      background: linear-gradient(
        135deg,
        hsl(from var(--c-secondary) h s l / 1) 0%,
        hsl(from var(--c-secondary) h s l / .65) 50%,
        hsl(from var(--c-secondary) h s l / 1) 100%
      ), var(--c-primary);

      * {
        height: var(--header-height);
        display: grid;
        align-items: center;
      }

      [data-column=controls] {
        * {
          max-height: calc(var(--header-height) - .5rem);
        }
      }
    }

    .document-list {
      .theme-light & {
        --c-e-h: 32;
        --c-e-s: 100%;
        --c-e-l: 74%;
        --c-o-h: 51;
        --c-o-s: 98%;
        --c-o-l: 78%;
      }
      .theme-dark & {
        --c-e-h: 35;
        --c-e-s: 27%;
        --c-e-l: 33%;
        --c-o-h: 40;
        --c-o-s: 18%;
        --c-o-l: 54%;
      }

      .entry {
        --luminosity1: -10%;
        --luminosity2: 0%;
        height: var(--entry-height);
        grid-template-columns: var(--entry-height) 1fr var(--c-width-attribute) var(--c-width-controls);
        container-type: inline-size;
        background: linear-gradient(
          90deg,
          hsl(var(--c-h) var(--c-s) calc(var(--c-l) + var(--luminosity1))) 0%,
          hsl(var(--c-h) var(--c-s) calc(var(--c-l) + var(--luminosity2))) 95%
        );
        margin: 0 .5rem;
        padding: 0 .5rem 0 2px;
        border-top: 1px solid var(--c-secondary);

        &:last-child { border-radius: 0 0 3px 3px }
        &:nth-child(even of :not(.hidden)) {
          --c-h: var(--c-e-h);
          --c-s: var(--c-e-s);
          --c-l: var(--c-e-l);
        }
        &:nth-child(odd of :not(.hidden)) {
          --c-h: var(--c-o-h);
          --c-s: var(--c-o-s);
          --c-l: var(--c-o-l);
        }
        &:hover {
          --luminosity1: 0%;
          --luminosity2: 10%;
        }

        > :not(.title) {
          height: calc(var(--entry-height) - 4px);
          display: flex;
          align-items: center;
        }

        .title {
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
        }

        input {
          color: inherit;
          --input-focus-outline-color: hsl(from var(--ryuutama-color-burlywood) h s l / .25);
        }

        [data-column=attribute] {
          justify-content: center;

          @container (width < 250px) {
            display: none;
          }

          /* value/max pairs, like durability */
          .values {
            white-space: nowrap;
            display: flex;
            align-items: center;

            input {
              text-align: center;
              background: inherit;
              border: none;
              box-shadow: none;
            }

            .delta, .max {
              flex: 0 0 25px;
            }
          }

          /* spell levels, low mid high */
          .spell-level {
            display: grid;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1;
            border-radius: 50%;
            text-align: center;

            &.low::after { content: "I" }
            &.mid::after { content: "II" }
            &.high::after { content: "III" }
          }
        }

        [data-column=controls] {
          button {
            border: none;
            background: none;
            aspect-ratio: 1;
            padding: 0;
            margin: 0;
            color: inherit;
          }
        }

        &.inactive {
          opacity: 0.5;
        }

        &[data-action] {
          cursor: var(--cursor-pointer);
        }
      }
    }
  }
}
