.ryuutama.application.sheet {
  .document-listing {

    h4 {
      font-size: 18px;
      font-family: Amiri;
      font-weight: normal;
    }

    .document-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 4px;

      .entry {
        --height: 55px;
        height: calc(var(--height) + 2px);
        display: grid;
        grid-template-columns: var(--height) 1fr 0fr;
        transition: background-color 150ms ease;
        padding: 1px;
        align-items: center;
        max-width: 250px;

        img {
          height: var(--height);
        }

        .center {
          display: flex;
          flex-direction: column;
          margin: 0 1em;

          .title {
            font-size: 16px;
            text-align: center;
          }
        }

        .attribute {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;

          .values {
            white-space: nowrap;
            display: flex;
            align-items: center;
            align-content: center;

            input {
              text-align: center;
              background: inherit;
            }

            .delta, .max {
              flex: 0 0 25px;
            }
          }
        }

        &.inactive {
          opacity: 0.5;
        }

        &[data-action] {
          cursor: var(--cursor-pointer);
        }

        &:hover {
          background-color: var(--ryuutama-document-list-hover-color);
        }
      }
    }
  }

  .sheet-tabs.tabs [data-action=tab] {
    white-space: nowrap;
  }
}
