@import url("./hud/_styles.css");
@import url("./sidebar/_styles.css");
@import url("./sheets/_styles.css");
@import url("./tables.css");
@import url("./ui/_styles.css");
@import url("./apps/_styles.css");

.ryuutama {
  --font-body: var(--ryuutama-font-raleway);
  --font-sans: var(--ryuutama-font-raleway);
  --font-h1: var(--ryuutama-font-raleway);
  --font-h2: var(--ryuutama-font-raleway);
  --font-h3: var(--ryuutama-font-raleway);
  --font-h4: var(--ryuutama-font-raleway);
  --font-h5: var(--ryuutama-font-raleway);
  --font-h6: var(--ryuutama-font-raleway);

  --font-h1-size: 44px;
  --font-h2-size: 30px;
  --font-h3-size: 20px; /* Final */
  --font-h4-size: 14px; /* Final */
  --font-h5-size: 11px;
  --font-h6-size: 10px;

  /* Override */
  font-family: var(--font-body);
}

.form-group.wide label {
  flex: none;
}

.ryuutama.application .italics {
  font-style: italic;
}

.ryuutama.application .form-group > label {
  white-space: nowrap;
}

.ryuutama.application .form-group.slim-wide {
  > .form-fields > :first-child,
  > .form-fields > :first-child input {
    flex: 0 0 50px;
    padding: 0;
    text-align: center;
  }
}

.ryuutama.application .sheet-tabs [data-tab] {
  white-space: nowrap;
}

.ryuutama.application a[disabled] {
  opacity: .5;
}

.ryuutama input[type=number],
.ryuutama input[type=text].delta,
.ryuutama .numeric-display {
  font-family: var(--ryuutama-font-gothic);
}
