@import url("./hud/_styles.css");
@import url("./sidebar/_styles.css");
@import url("./sheets/_styles.css");
@import url("./tables.css");
@import url("./ui/_styles.css");
@import url("./apps/_styles.css");

ryuutama-icon {
  height: 100%;
  aspect-ratio: 1;
  display: block;

  svg {
    height: 100%;
    width: 100%;
  }
}

.form-group.wide label {
  flex: none;
}

.ryuutama.application button.heightened {
  height: 100%;
  --buttons-size: 100%;
}

.ryuutama.application .italics {
  font-style: italic;
}

.ryuutama.application button.unsize {
  --button-size: unset;
}

.ryuutama.application .form-group > label {
  white-space: nowrap;
}

.ryuutama.application .form-group.slim-wide {
  > .form-fields > :first-child,
  > .form-fields > :first-child input {
    flex: 0 0 50px;
    padding: 0;
    text-align: center;
  }
}

.ryuutama.application .form-group.stacked.center label {
  width: 100%;
  text-align: center;
}

.ryuutama .tags {
  color: var(--ryuutama-color-disabled);
  font-size: 14px;
  width: 100%;
  display: flex;
  gap: 6px;
  font-family: Amiri;
  flex-wrap: wrap;

  &.center {
    justify-content: space-around;
  }

  .tag {
    border: 1px dotted var(--ryuutama-color-disabled);
    border-radius: 5px;
    padding: 2px 4px;
    white-space: nowrap;
  }
}

.ryuutama .form-group.currency .form-fields::after {
  content: url("/systems/ryuutama/assets/official/icons/currency.svg");
  height: var(--input-height);
  width: var(--input-height);
  pointer-events: none;
}

:root {
  interpolate-size: allow-keywords;
}
.ryuutama details {
  margin-bottom: .5rem;

  :has( > &) {
    gap: 0;
  }

  > summary {
    cursor: pointer;
    border: 2px solid silver;
    background-color: gainsboro;
    padding: .5rem;
    border-radius: 6px;
    color: black;
    position: relative;
    transition:
      all 1000ms ease-out,
      border-radius 100ms ease-out 1000ms;

    /* + * { margin-top: .5rem } */


    &::marker {
      content: "";
    }

    &::after {
      content: "+";
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      background: black;
      text-align: center;
      line-height: 1.5rem;
      font-weight: 100;
      inset: .25rem .25rem .25rem auto;
      border-radius: 50%;
      display: inline-block;
      color: white;
    }
  }

  &:open > summary::after { content: "-" }

  &::details-content {
    height: 0;
    overflow: hidden;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    content-visibility: visible;
    block-size: 0;
    padding: 0 .5rem;
    transition:
      all 1000ms ease-out,
      border-width 1000ms step-end;
  }

  &:open {
    > summary {
      border-radius: 6px 6px 0 0;
      background-color: royalblue;
      border-color: navy;
      color: white;
      transition:
        all 1000ms ease-out,
        border-radius step-start;
    }

    &::details-content {
      height: auto;
      border-radius: 0 0 6px 6px;
      border-color: silver;
      border-style: solid;
      border-width: 0 2px 2px 2px;
      block-size: auto;
      transition:
        all 1000ms ease-out,
        border-width step-start;
    }
  }
}




dialog .dialog-content > p {
  --background-color: plum;
  background-color: hsl(from var(--background-color) calc((sibling-index() - 1) * 50deg + h * 1deg) s l);
}
