@import url("./hud/_styles.css");
@import url("./sidebar/_styles.css");
@import url("./sheets/_styles.css");
@import url("./tables.css");
@import url("./ui/_styles.css");
@import url("./apps/_styles.css");

ryuutama-icon {
  height: 100%;

  svg {
    height: 100%;
    width: 100%;
  }
}

.form-group.wide label {
  flex: none;
}

.ryuutama.application button.heightened {
  height: 100%;
  --buttons-size: 100%;
}

.ryuutama.application .italics {
  font-style: italic;
}

.ryuutama.application button.unsize {
  --button-size: unset;
}

.ryuutama.application .form-group > label {
  white-space: nowrap;
}

.ryuutama.application .form-group.slim-wide {
  > .form-fields > :first-child,
  > .form-fields > :first-child input {
    flex: 0 0 50px;
    padding: 0;
    text-align: center;
  }
}

.ryuutama.application .form-group.stacked.center label {
  width: 100%;
  text-align: center;
}

.ryuutama .tags {
  color: var(--ryuutama-color-disabled);
  font-size: 14px;
  width: 100%;
  display: flex;
  gap: 6px;
  font-family: Amiri;
  flex-wrap: wrap;

  &.center {
    justify-content: space-around;
  }

  .tag {
    border: 1px dotted var(--ryuutama-color-disabled);
    border-radius: 5px;
    padding: 2px 4px;
    white-space: nowrap;
  }
}

.ryuutama .form-group.currency .form-fields::after {
  content: url("/systems/ryuutama/assets/official/icons/currency.svg");
  height: var(--input-height);
  width: var(--input-height);
  pointer-events: none;
}
