@import url("./hud/_styles.css");
@import url("./sidebar/_styles.css");
@import url("./sheets/_styles.css");
@import url("./tables.css");

ryuutama-icon {
  height: 100%;

  svg {
    height: 100%;
    width: 100%;
  }
}

.form-group.wide label {
  flex: none;
}

.ryuutama.application button.heightened {
  height: 100%;
  --buttons-size: 100%;
}

.ryuutama.application .italics {
  font-style: italic;
}

.ryuutama.application button.unsize {
  --button-size: unset;
}

.ryuutama.application .form-group > label {
  white-space: nowrap;
}

.ryuutama.application .form-group.slim-wide {
  > .form-fields > :first-child,
  > .form-fields > :first-child input {
    flex: 0 0 50px;
    padding: 0;
    text-align: center;
  }
}

.ryuutama.application .form-group.stacked.center label {
  width: 100%;
  text-align: center;
}
