.ryuutama {
  --font-gothic: 'Carrois Gothic';
  --font-gabriela: 'Gabriela';
  --font-raleway: 'Raleway';
  --font-radley: "Radley";

  aside.aside {
    --decoration-inset: .25rem;
    background-color: var(--ryuutama-color-aside);
    padding: 1.5rem 3.5rem;
    border-radius: 15px;
    box-shadow: 4px 4px 0 var(--ryuutama-color-aside-border);
    text-align: justify;
    margin: 1rem 0;

    background-image:
      url("/systems/ryuutama/assets/official/layout/curve-top-left.svg"),
      url("/systems/ryuutama/assets/official/layout/curve-top-right.svg"),
      url("/systems/ryuutama/assets/official/layout/curve-bottom-right.svg"),
      url("/systems/ryuutama/assets/official/layout/curve-bottom-left.svg");
    background-position:
      left var(--decoration-inset) top var(--decoration-inset),
      right var(--decoration-inset) top var(--decoration-inset),
      right var(--decoration-inset) bottom var(--decoration-inset),
      left var(--decoration-inset) bottom var(--decoration-inset);
    background-repeat: no-repeat;
    background-size: 32px;

    p {
      font-family: var(--font-raleway);
    }

    h4 {
      font-family: var(--font-gothic);
      font-size: 16px;
    }
  }

  h2 {
    font-family: var(--font-gothic);
    border: none;
    color: var(--ryuutama-color-header-2);
  }

  p {
    font-family: var(--font-radley);
  }

  blockquote p {
    font-family: var(--font-gabriela);
  }
}
