:root {
  /* COLORS */
  --ryuutama-color-tan: #9F9175;
  --ryuutama-color-dimgray: #544A31;
  --ryuutama-color-palevioletred: #b9578c;
  --ryuutama-color-darkorange: #e0861a;
  --ryuutama-color-bisque: #f7dfc5;
  --ryuutama-color-oldlace: #fbedde;
  --ryuutama-color-indianred: #87384d;
  --ryuutama-color-forestgreen: #316b20;
  --ryuutama-color-darkblue: #4F2EBD;
  --ryuutama-color-black: black;
  --ryuutama-color-mediumvioletred: #b8006d;
  --ryuutama-color-steelblue: #45619e;
  --ryuutama-color-steelblue-light: #0089bd;
  --ryuutama-color-firebrick: #c4151c;
  --ryuutama-color-burlywood: #deb887;
  --ryuutama-color-lightwood: #6b583d;
  --ryuutama-color-white: #efe6d8;

  --ryuutama-color-book-cover-blue: #5aadb7;
  --ryuutama-color-book-cover-gold: #f4b669;
  --ryuutama-color-book-altcover-green: #194125;
  --ryuutama-color-book-altcover-gold: #aca267;

  /* SEASONS */
  --ryuutama-color-season-spring: #60995c;
  --ryuutama-color-season-summer: #e86720;
  --ryuutama-color-season-autumn: #a72244;
  --ryuutama-color-season-winter: #0095da;

  /* VARIABLES */
  --ryuutama-color-resource-stamina: var(--ryuutama-color-forestgreen);
  --ryuutama-color-resource-stamina-negative: var(--ryuutama-color-indianred);
  --ryuutama-color-resource-mental: var(--ryuutama-color-darkblue);
  --ryuutama-color-resource-default: var(--ryuutama-color-black);

  --ryuutama-color-statuses-body: var(--ryuutama-color-mediumvioletred);
  --ryuutama-color-statuses-mind: var(--ryuutama-color-steelblue-light);
  --ryuutama-color-archetype: var(--ryuutama-color-indianred);
  --ryuutama-color-stats: var(--ryuutama-color-indianred);
  --ryuutama-color-check-fumble: var(--ryuutama-color-firebrick);
  --ryuutama-color-check-critical: var(--ryuutama-color-steelblue);
  --ryuutama-color-check-condition: var(--ryuutama-color-palevioletred);

  /* ACCENTS */
  --ryuutama-color-shadow-black: rgb(11 10 19 / .9);
  --ryuutama-color-shadow-white: rgb(175 175 175 / .9);

  /* WEATHER ICONS */
  --ryuutama-color-weather-blizzard: rgb(0 174 239);
  --ryuutama-color-weather-clear-skies: rgb(247 147 29);
  --ryuutama-color-weather-cloudy: rgb(99 100 102);
  --ryuutama-color-weather-cold: rgb(0 174 239);
  --ryuutama-color-weather-darkness: rgb(35 31 32);
  --ryuutama-color-weather-deep-fog: rgb(128 130 133);
  --ryuutama-color-weather-fog: rgb(157 159 162);
  --ryuutama-color-weather-hard-rain: rgb(0 84 166);
  --ryuutama-color-weather-hot: rgb(243 111 33);
  --ryuutama-color-weather-hurricane: rgb(0 37 97);
  --ryuutama-color-weather-rain: rgb(0 84 166);
  --ryuutama-color-weather-snow: rgb(0 174 239);
  --ryuutama-color-weather-strong-wind: rgb(0 122 122);
  --ryuutama-color-weather-thunder-storm: rgb(255 221 0);

  /* FONTS */
  --ryuutama-font-raleway: Raleway;
  --ryuutama-font-radley: Radley;
  --ryuutama-font-gothic: Carrois Gothic;
  --ryuutama-font-gabriela: Gabriela;
}

/* -------------------------------------------------- */
/*   Themes                                           */
/* -------------------------------------------------- */

@scope (.theme-dark) to (.themed) {
  .ryuutama, &.ryuutama {
    --ryuutama-sidebar-primary-party: var(--ryuutama-color-palevioletred);
    --ryuutama-color-capacity-bar-overflow: var(--ryuutama-color-mediumvioletred);

    --ryuutama-color-table-header: var(--ryuutama-color-darkorange);
    --ryuutama-color-table-row-odd: var(--ryuutama-color-oldlace);
    --ryuutama-color-table-row-even: var(--ryuutama-color-bisque);
    --ryuutama-table-text-color: var(--ryuutama-color-black);
    --ryuutama-enriched-tooltip-border: var(--ryuutama-color-bisque);

    --corner-tl: url("/systems/ryuutama/assets/official/layout/corner-dark-tl.svg");
    --corner-tr: url("/systems/ryuutama/assets/official/layout/corner-dark-tr.svg");
    --corner-br: url("/systems/ryuutama/assets/official/layout/corner-dark-br.svg");
    --corner-bl: url("/systems/ryuutama/assets/official/layout/corner-dark-bl.svg");

    /* Lightness shade change for backdrops. Defaults to +10. */
    --backdrop-lightness-delta: -15;
  }

  /* Shared sheet styles. TODO: Will eventually apply to all actor sheets. */
  .ryuutama.application.sheet.actor.traveler, &.ryuutama.application.sheet.actor.traveler {
    --c-text-light: rgb(245 245 220);
    --c-text-dark: rgb(40 0 0);

    /* Primary */
    --c-primary: #411935;

    /* Complementary color */
    --c-secondary: var(--ryuutama-color-book-altcover-green);

    /* Accent */
    --c-accent: var(--ryuutama-color-book-altcover-gold);

    --c-background: var(--ryuutama-color-shadow-black);
    --c-shadow: var(--c-background);
    --c-text: rgb(245 245 220);

    --c-document-list-even: hsl(35deg 27% 33%);
    --c-document-list-odd: hsl(40deg 18% 54%);

    /* The distance of drop-shadow filtering; falls back to .1rem in light-mode. */
    --shadow-spread: .5rem;
  }

  /* Tooltips */
  #tooltip.ryuutama, .ryuutama.locked-tooltip {
    --c-primary: #411935;
    --c-background: var(--ryuutama-color-shadow-black);
    --c-text: rgb(245 245 220);
  }
}

@scope (.theme-light) to (.themed) {
  .ryuutama, &.ryuutama {
    --ryuutama-sidebar-primary-party: var(--ryuutama-color-tan);
    --ryuutama-color-capacity-bar-overflow: var(--ryuutama-color-mediumvioletred);

    --ryuutama-color-table-header: var(--ryuutama-color-darkorange);
    --ryuutama-color-table-row-odd: var(--ryuutama-color-oldlace);
    --ryuutama-color-table-row-even: var(--ryuutama-color-bisque);
    --ryuutama-table-text-color: var(--ryuutama-color-black);
    --ryuutama-enriched-tooltip-border: var(--ryuutama-color-darkblue);

    --corner-tl: url("/systems/ryuutama/assets/official/layout/corner-light-tl.svg");
    --corner-tr: url("/systems/ryuutama/assets/official/layout/corner-light-tr.svg");
    --corner-br: url("/systems/ryuutama/assets/official/layout/corner-light-br.svg");
    --corner-bl: url("/systems/ryuutama/assets/official/layout/corner-light-bl.svg");
  }

  /* Shared sheet styles. TODO: Will eventually apply to all actor sheets. */
  .ryuutama.application.sheet.actor.traveler, &.ryuutama.application.sheet.actor.traveler {
    --c-text-light: rgb(245 245 220);
    --c-text-dark: rgb(40 0 0);

    --c-primary: var(--ryuutama-color-book-cover-blue);
    --c-secondary: #B7645A;
    --c-accent: var(--ryuutama-color-book-cover-gold);
    --c-background: var(--ryuutama-color-shadow-white);
    --c-shadow: var(--c-background);
    --c-text: rgb(40 0 0);

    --c-document-list-even: hsl(32deg 100% 74%);
    --c-document-list-odd: hsl(51deg 98% 78%);

    /* The color of equipment empty slot icons; falls back to #fff in dark-mode. */
    --equipment-empty-slot-fill: black;
  }

  /* Tooltips */
  #tooltip.ryuutama, .ryuutama.locked-tooltip {
    --c-primary: var(--ryuutama-color-book-cover-blue);
    --c-background: var(--ryuutama-color-shadow-white);
    --c-text: rgb(40 0 0);
  }
}
