#combat, #combat-popout {
  .ryuutama.objects {
    .objects-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
    }
  }

  .initiative-delayed {
    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
  }
}
