<section data-tab="{{tabs.effects.id}}" class="{{tabs.effects.cssClass}}" data-group="{{tabs.effects.group}}">
  {{#if effects.enabledEffects.length}}
  {{> "document-list" label=(localize "RYUUTAMA.ACTOR.activeEffects") entries=effects.enabledEffects tiles=true}}
  {{/if}}

  {{#if effects.disabledEffects.length}}
  {{> "document-list" label=(localize "RYUUTAMA.ACTOR.disabledEffects") entries=effects.disabledEffects tiles=true}}
  {{/if}}
</section>
